<!-- main header starts-->
<header id="header">

    <!-- top navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" href="#">brand</a> -->
            </div>

            <!-- collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{site.mainsiteurl}}#hero">home<span class="sr-only">(current)</span></a></li>
                    <!-- <li><a data-scroll href="{{site.mainsiteurl}}#book-trailer">trailer</a></li> -->
                    <li><a data-scroll href="{{site.mainsiteurl}}#as-seen-on">growth mindset</a></li>
                    <!-- <li><a data-scroll href="{{site.mainsiteurl}}#what-you-learn">what to say</a></li>
                    <li><a data-scroll href="{{site.mainsiteurl}}#chapters">benefits</a></li> -->
                    <li><a data-scroll href="{{site.mainsiteurl}}#gallery">illustrations</a></li>
                    <li><a data-scroll href="{{site.mainsiteurl}}#free-chapter">newsletter</a></li>
                    <!-- <li><a data-scroll href="{{site.mainsiteurl}}#reviews">reviews</a></li> -->
                    <!-- <li><a data-scroll href="{{site.mainsiteurl}}#read-anywhere">read</a></li> -->
                    <!-- <li><a data-scroll href="{{site.mainsiteurl}}#bonuses">bonuses</a></li> -->
                    <li><a data-scroll href="{{site.mainsiteurl}}#pricing">order</a></li>
                    <li><a data-scroll href="{{site.mainsiteurl}}#faq">faq</a></li>
                    <li><a data-scroll href="{{site.mainsiteurl}}#author">author</a></li>
                    <li class="active"><a data-scroll href="{{site.baseurl}}">blog</a></li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-->
    </nav>
    <!-- end top navigation -->

</header>
<!-- main header ends-->
